* {
    margin: 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}





/* function class */




.invert {
    filter: invert(100%);
}

.gap {
    margin-right: 2%;
}

.pointer{
    cursor: pointer;
}

/* main code */





body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px 0px;
}




/* nav */




nav {
    flex: 1;
    /* border: rgb(255, 255, 255) 2px solid; */
    position: sticky;
    top: 0px;
    z-index: 200;
    display: flex;
    align-items: center;
    background-color: black;

    /* background-color: aliceblue; */
}

.right_nav {
    display: flex;
    align-items: center;
    /* border: #ffffff 1px solid; */
    width: 41.5%;
    /* flex-wrap: wrap; */
}

#logo {
    margin: 15px;
}

#home {
    margin-left: 15px;
    width: 50px;
    /* border: red 2px solid; */
    background-color: rgba(30, 30, 30, 0.585);
    padding: 7px;
    border-radius: 50px;
}

#text_container {
    display: flex;
    position: relative;
    display: inline-block;
    /* flex-direction: row; */
}

#text_box {
    border-radius: 20px;
    padding: 12px 50px;
    width: 30vw;
    background-color: #1f1f1f;
    border: none;
    font-size: 17px;
    color: rgb(250, 250, 250);
}

#search_logo {
    position: absolute;
    left: 10px;
    /* fixed distance from the left */
    top: 50%;
    transform: translateY(-45%);
    width: 32px;
    opacity: 80%;
}

#line {
    position: absolute;
    right: 52px;
    /* text-align: center; */
    top: 12%;
    color: rgba(255, 255, 255, 0.464);
    font-size: 25px;
}

#filelogo {
    position: absolute;
    width: 32px;
    transform: translateY(-45%);
    top: 51%;
    right: 11px;
    opacity: 70%;
}

/* .left_nav{
    border: #ffffff 1px solid;
} */

.left_nav ul {
    /* border: #ffffff 1px solid; */
    width: 60%;
    align-items: center;
    padding: 10px;
    /* border: white solid 1px; */
    justify-content: flex-end;
    top: 0%;
    gap: 1%;
    display: flex;
    list-style: none;
    color: #b1b1b1;
    position: absolute;
    right: 0px;
    font-size: 16px;
    margin-right: -25px;
    font-weight: 550;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.newline{
    font-size: 200%;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.login {
    position: relative;
    top: 100%;
    border: #b1b1b1;
    padding: 15px 30px;
    background-color: rgba(240, 248, 255, 0.644);
    color: black;
    border-radius: 30px;
}


/* main body */




main {
    flex: 8;
    /* border: rgb(255, 255, 255) 2px solid; */
    color: wheat;
    display: flex;
    padding: 0px;
    position: relative;
    border-radius: 10px;
    gap: 0px 5px;
    height: 100%;

    /* gap: 2px; */
    /* overflow: auto; */
}



/* left side */




.left {
    margin: 0px;
    width: 30vw;
    height: 100%;
    /* border: red 2px solid; */
    border-radius: 10px;
    background-color: #000000;
    position: relative;
    gap: 0px;
    overflow: hidden;
    /* display: inline-block; */
    /* display: flex;
    flex-direction: column; */
}


#library{
     border-top-left-radius: 10px;
    height: 60%;
    width:100%;
    background-color: #131313;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
}

#library > b{
    display: flex;
    padding-left: 5%;
    /* justify-content: center; */
    align-items: center;  
    height: 30%;
    width: 100%;
    position: sticky;
    top: 0px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0.5, 1); */
    z-index: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: #000000 1px solid; */
    /* margin-bottom: 20px; */
}

#library > b::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 8px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
    pointer-events: none;
}

.library_content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    overflow: auto;
    position: relative;
    height: 100%;
    
}
.scrollbar::-webkit-scrollbar{
    width: 8px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #555555;
    
}

/* Scrollbar track (the background behind the thumb) */
.scrollbar::-webkit-scrollbar-track {
    background: #1f1f1f00; /* same as your container background */
    transition: background 0.3s ease;
}

/* Scrollbar thumb (the draggable part) */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #55555500; /* dark grey thumb */
    /* border-radius: 4px; rounded edges */
}


.h2{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3%;
    /* border: rebeccapurple 1px solid; */
    padding-top: 10%;
}

.h3{
    font-size: 16px;
    margin-bottom: 5%;
    /* border: rebeccapurple 1px solid; */
}
.library_content>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 60%; */
    max-height: fit-content;
    /* border: rebeccapurple 1px solid; */
    /* border: red 1px solid; */
    margin-bottom: 3%;
    border-radius: 10px;
    margin-left: -5%;
    background-color:  #202020;
    padding-left: 4%;
}
.button1{
    padding: 5px 10px;
    width: fit-content;
    background-color: rgba(215, 215, 215, 0.718);
    border-radius: 20px;
    margin-bottom: 50px;
    /* border: rgb(153, 51, 51) 1px solid; */
    color: #000000d1;
    font-weight: bold;
    font-size: 15px;
}






/* right side */




.right {
    width: 75vw;
    border-radius: 10px;
    /* background-color: #202020; */
    /* border: red 2px solid; */
    background: linear-gradient(#272727,#101010);
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.fullSlot{
    height: 60%;
    width: 100%;
    /* border: red 1px solid; */
    /* padding-top: 15px; */
    position: relative;
}

.fullSlot > h1{
    position: relative;
    padding-left: 3%;
    padding-top: 2.5%;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.94);
    /* border: red 1px solid; */
    height: 20%;
}

.slot{
    overflow-x: auto;
    display: flex;
    gap: 3px;
    padding-left: 20px;
}

.playlistBox{
    flex: 0 0 auto;
    height:80%;
    /* border: rebeccapurple 1px solid; */
    width: 180px;
    padding: 10px;
    margin: 0px 0px;
    position: relative;
    max-height: auto;
    min-height: 0px;
    flex-wrap: wrap;
    overflow-x: hidden;
    border-radius: 5px;
}

.playlistBox:hover{
    background-color: #272727;
    transition: all 0.2s ease-out;
    
}

.playlistBox > img{
    width: 100%;
    object-fit: contain;
    margin: 0px 0px;
    border-radius: 5px;
}

.songName{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding: 0px;
    padding-top: 8px;
    color: rgba(255, 255, 255, 0.952);
}

.artistName{
     font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-top: 8px;
    color: rgba(255, 255, 255, 0.534);
}


.slot::-webkit-scrollbar {
    width: 0px;
}

.playlistBox > svg{
    position: absolute;
    right: 18px;
    top: 115px;
    fill: rgb(71, 255, 78);
    scale: 1.2;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.playlistBox:hover svg{
    opacity: 100;
    top: 102px;
}










/* footer body */




footer {
    flex: 1;
    /* border: rgb(255, 255, 255) 2px solid; */
    position: relative;
    bottom: 0px;
    background: linear-gradient(to right, rgb(255, 127, 148), rgb(0, 149, 255));
}